{% extends "partials/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Entradas</title>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <form method="post" action="">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered table">
                  <thead style="background:green">
                    <tr>
                      <th>Reserva da empresa</th>
                      <th>Imposto</th>
                      <th>Pagar boletos</th>
                      <th>Investimento</th>
                      <th>Lucro</th>
                      <th>Atualizar Valor</th>
                    </tr>
                  </thead>
                  {% for value in values_gisil %}
                    <tbody style="font-size:20px">
                        <tr>
                          <td>R$ {{value.emergency | floatformat}}</td>
                          <td>R$ {{value.imposto | floatformat}}</td>
                          <td>R$ {{value.boleto}}</td>
                          <td>R$ {{value.invest|floatformat}}</td>
                          <td>R$ {{value.lucro | floatformat}}</td>
                          <td><a class="btn btn-success" href="{% url "edit-values" %}">Atualizar</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
            <div>
                <h1>Registrar Recebimento</h1>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="value">Valor Bruto:</label>
                    <input type="text" class="form-control" id="value" name="value" placeholder="Exemplo:2500,50">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_date">Data do pagamento</label>
                    <input type="date" class="form-control" id="id_date" name="date" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Quantidade de pastas</label>
                    <input type="text" class="form-control" id="value" name="quantity">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Quantidade de kilates</label>
                    <input type="text" class="form-control" id="value" name="kilate">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Frete</label>
                    <input type="text" class="form-control" id="value" name="frete">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Valor da caixa</label>
                    <input type="text" class="form-control" id="value" name="box">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Nfe status:</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="nf">
                        <option selected>Choose...</option>
                        <option value="1">Venda com nota</option>
                        <option value="2">Venda sem nota</option>
                    </select>
                </div>
                {% comment %} <div class="col-md-4 mb-3">
                    <label for="value">Cliente</label>
                    <input type="text" class="form-control" id="value" name="customer">
                </div> {% endcomment %}
                
            </div>
            <button class="btn btn-primary" type="submit">Calcular</button>
        </form>
    </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered table">
              <thead style="background:whithe">
                <tr>
                  <th>Reserva da empresa</th>
                  <th>Imposto</th>
                  <th>Pagar boletos</th>
                  <th>Investimento</th>
                  <th>Lucro</th>
                  <th></th>
                </tr>
              </thead>
                <tbody style="font-size:20px">
                    <tr>
                      <td>R${{totals.valor_reserva}}</td>
                      <td>R${{totals.valor_imposto}}</td>
                      <td>R${{totals.valor_boleto}}</td>
                      <td>R${{totals.valor_investimento | floatformat}}</td>
                      <td>R${{totals.valor_lucro_liquido}}</td>
                      <td><a class="btn btn-primary" href="{% url "all-zero" %}">Resetar valor</a></td>
                    </tr>
                </tbody>
            </table>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>